// style

$blueDark: rgba(110, 161, 185, 0.188)
$blueLight: #00a7ff

body
    background-color: black

h1
    color: $blueLight

img
    width: 100%
    height: auto

#textDeco
    text-decoration: none

#bgColor
    background-color: $blueDark

.row
    text-align: center

.panel-footer a:hover
    color: $blueLight
    
.rtng
    font-size: 2em
    color: #CFB53B

#footer-center
    text-align: center

#footer-right
    text-align: right

.nav-tabs>li.active>a
    color: white
    cursor: default
    background-color: dodgerblue
    border: none

.nav-tabs>li.active>a:hover
    color: white
    background-color: darkgray
    border: none

.nav-tabs>li>a:hover
    color: white
    background-color: gray
    border: none

